@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>
<p>
    You can reach us at:
    <strong>
        <a href="mailto:nadaaelmokdem@gmail.com">nadaaelmokdem@gmail.com</a>
    </strong>
</p>

<p>Or fill out the contact form below:</p>

<form>
    <label for="name">Your Name</label><br />
    <input type="text" id="name" name="name" /><br /><br />

    <label for="email">Your Email</label><br />
    <input type="email" id="email" name="email" /><br /><br />

    <label for="message">Message</label><br />
    <textarea id="message" name="message"></textarea><br /><br />

    <button type="submit">Send</button>
</form>
